<div class="form-container">

<h4 class="text-center">About our group</h4>

<p>We are a group of undergrads at Tufts University. We built this tool as part of Tufts' Code for Good summer program lead by Caroline Kaufman and Yuki Zaninovich.</p>
<p>Our team, directed by Professor Elaine Short and mentored by Ian Asaff, consists of Peter Gramaglia, Erena Inoue, Isaac Hudis, and Easton Kang.</p>
</div>


