<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Access SIGCHI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/tool">Tool</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/about">About</a>
      </li>
    </ul>
    
  </div>
</nav>

<head>
    <title>Post Listings</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script>
      function sendForm() {
        var title = document.getElementById("title").value;
        var author = document.getElementById("author").value;
        var pdfUpload = document.getElementById("pdfUpload").value;
        alert('Works');

    /*
        request = new XMLHttpRequest();
            request.open("POST", "URL TO PING", true);
            request.setRequestHeader("Content-type", "application/json");

            request.onreadystatechange = function(){
                if (request.readyState == 4 && request.status == 200) {
                    var res = request.responseText;
                    var status = JSON.parse(res);
                    var body = document.getElementsByTagName("BODY")[0];
                    if (status.error != undefined){
                        body.innerHTML = "<p>" + status.error 
                        + "</p>" +
                                         "<p><a href='listings.html'></a></p>";
                    } else {
                        window.location = 'listing-submitted.html'
                    }           
                }
            }
            var data = JSON.stringify(form);
            request.send(data); */

      }
    </script>
</head>


<h3>PDF tagging tool</h2>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title"  placeholder="Enter paper title">
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input type="author" class="form-control" id="author" placeholder="Enter author name(s)">
  </div>

  <div class="form-group">
    <label for="author">Subject</label>
    <input type="author" class="form-control" id="author" placeholder="Enter subject">
  </div>

  <div class="form-group">
    <label for="author">Creation Date</label>
    <input type="author" class="form-control" id="author" placeholder="Enter creation date">
  </div>

  <div class="form-group">
    <label for="author">Keywords</label>
    <input type="author" class="form-control" id="author" placeholder="Enter keyword(s)">
  </div>


  <%# <div class="form-group">
    <label for="pdfUpload">Upload the PDF here</label>
    <input type="file" class="form-control-file" id="pdfUpload">
  </div>  %>

  <%= form_for :pdf_processor, :html => {:multipart => true} do |f| %>
    <div class = "form-group">
      <%= f.label :file %><br>
      <%= f.file_field :file  %>
    </div>  
      <%= f.submit %>
  <% end %>

</form>
</html>